Missense_FunctionalImpact.ipynb
ContarMutaciones.ipynb
ClinicalCorrelation.ipynb
MedidasConScore.ipynb
ContarMutaciones.ipynb
Escrito_ParaMi.ipynb
Escrito1-Copy1.ipynb
Medidas.ipynb
OrganizarMaf.ipynb

*.txt
*.annotated
*.maf
*.jpg
*.jpeg
*.png
*.csv
*.xlsx

.ipynb_checkpoints

